ansible
ansible-core
ansible-lint
ansible-navigator
ansible-vault
awscli
black
flake8
libtmux
libyaml
lxml
molecule[docker]
mypy
pre-commit
pylint
pytest-cov
pytest-xdist
setup-cfg-fmt
types-dataclasses
types-PyYAML
#ansible-base
wheel
yamllint
